USE [master]
GO
/****** Object:  Database [求职招聘]    Script Date: 2023/05/10 10:30:40 ******/
CREATE DATABASE [求职招聘]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'求职招聘', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\求职招聘.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'求职招聘_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\求职招聘_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [求职招聘].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [求职招聘]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2023/05/10 10:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[A_NO] [int] IDENTITY(1,1) NOT NULL,
	[A_Account] [varchar](20) NOT NULL,
	[A_Pass] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[A_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Corporation]    Script Date: 2023/05/10 10:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Corporation](
	[C_NO] [int] IDENTITY(1,1) NOT NULL,
	[C_Account] [varchar](20) NOT NULL,
	[C_Pass] [varchar](20) NOT NULL,
	[C_Info] [varchar](200) NULL,
	[C_Name] [varchar](20) NULL,
	[C_Addr] [varchar](50) NULL,
	[C_Email] [nvarchar](20) NULL,
	[C_FIeld] [nvarchar](20) NULL,
 CONSTRAINT [PK_Corporation] PRIMARY KEY CLUSTERED 
(
	[C_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Intention]    Script Date: 2023/05/10 10:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intention](
	[I_CNO] [int] NOT NULL,
	[I_SNO] [int] NOT NULL,
	[I_PNO] [int] NOT NULL,
	[I_CollectOrRecruit] [tinyint] NOT NULL,
 CONSTRAINT [PK_Intention] PRIMARY KEY CLUSTERED 
(
	[I_CNO] ASC,
	[I_SNO] ASC,
	[I_PNO] ASC,
	[I_CollectOrRecruit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job]    Script Date: 2023/05/10 10:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Job](
	[J_NO] [int] IDENTITY(1,1) NOT NULL,
	[J_Type] [nvarchar](20) NULL,
	[J_Seek] [nvarchar](20) NULL,
	[J_SNO] [int] NOT NULL,
	[J_Self] [varchar](200) NULL,
	[J_Salary] [money] NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[J_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Position]    Script Date: 2023/05/10 10:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Position](
	[P_NO] [int] IDENTITY(1,1) NOT NULL,
	[P_CNO] [int] NOT NULL,
	[P_Name] [nvarchar](20) NULL,
	[P_Descr] [varchar](100) NULL,
	[P_Exper] [nvarchar](20) NULL,
	[P_Degree] [nvarchar](20) NULL,
	[P_FaceAddr] [varchar](50) NULL,
	[P_PubTime] [datetime] NULL,
	[P_Salary] [money] NULL,
	[P_Num] [int] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[P_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seeker]    Script Date: 2023/05/10 10:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seeker](
	[S_NO] [int] IDENTITY(1,1) NOT NULL,
	[S_Account] [varchar](20) NOT NULL,
	[S_Pass] [varchar](20) NOT NULL,
	[S_Name] [varchar](20) NULL,
	[S_Sex] [tinyint] NULL,
	[S_Birth] [datetime] NULL,
	[S_ID] [nchar](18) NULL,
	[S_Degree] [nvarchar](20) NULL,
	[S_College] [nvarchar](20) NULL,
	[S_Profession] [nvarchar](20) NULL,
	[S_Tel] [nchar](11) NULL,
 CONSTRAINT [PK_Seeker] PRIMARY KEY CLUSTERED 
(
	[S_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
